# SOURCE: https://hanxiao.io/2019/11/07/A-Better-Practice-for-Managing-extras-require-Dependencies-in-Python/
#
# FORMAT
# package[version]: tag1, tag2, ...
#
# AVAILABLE TAGS
# devel
#
# REMARKS ON TAGS
# 1. Try to reuse the existing tags if possible.
#    If you intend to create a new tag, keep it alphabetical, short and general
# 2. Package name itself is a tag already, so you don't need to tag it again.
#    For example, 'flair>=0.4.1: flair' is redundant
# 3. Tag order doesn't matter; case-sensitive; duplicated tag will be ignored
# 4. Tag `all` is reserved for representing all packages

fastapi:                    devel
uvicorn:                    devel
SQLAlchemy                  devel
flake8:                     devel
pytest:                     devel
click:                      devel